@page "/"

<div class="text-center" style="background: var(--bs-gray-700);"><img src="@NekoClient.Nsfw_v3.Neko().Result.ImageUrl" loading="auto" style="box-shadow: 0px 0px 15px 10px;height: 100vh;"><!-- Start: Footer Dark -->
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <!-- Start: Social Icons -->
                <div class="col item social"><a href="https://github.com/MarkenJaden/Nekos" target="_blank"><i class="icon ion-social-github"></i></a></div><!-- End: Social Icons -->
            </div><!-- Start: Copyright -->
            <p class="copyright">MarkenJaden | Nekos © @DateTime.Now.Year -&nbsp;I do not own or save any of the images displayed.</p><!-- End: Copyright -->
        </div>
    </footer><!-- End: Footer Dark -->
</div>

@code
{
    public NekoClient NekoClient = new(Random.Shared.NextInt64().ToString());
}
